In [12]:
#Dependencies

import pandas as pd
import requests
import json
# import config
from json.decoder import JSONDecodeError
from config import api_key
from pprint import pprint

In [13]:
# Read csv file
Disney_file = "../Resources/Disney_Movies.csv"
Disney_df = pd.read_csv(Disney_file,index_col=0)
# making a copy with 'title'
movies_df= Disney_df[['title']].copy()
movies_df

                                                 title
0     Duck the Halls: A Mickey Mouse Christmas Special
1                               Ernest Saves Christmas
2                         Ice Age: A Mammoth Christmas
3                           The Queen Family Singalong
5                                    Becoming Cousteau
...                                                ...
1445                          X-Men Origins: Wolverine
1446    Night at the Museum: Battle of the Smithsonian
1447                                   Eddie the Eagle
1448                              Bend It Like Beckham
1449             Captain Sparky vs. The Flying Saucers

[1052 rows x 1 columns]

In [14]:
# create new columns
movies_df["budget"]=''
movies_df["revenue"]=''
movies_df["runtime"]=''
movies_df["movie_id"]=''
movies_df["genre"]=''

In [15]:
# loop through the dataframe
for index,row in movies_df.iterrows():
# pass the movie title from the dataframe,fetch the movie id from the API
    movie_title=row['title']
    url = f"https://api.themoviedb.org/3/search/movie?api_key={api_key}&query={movie_title}"
    try:
        response = requests.get(url).json()
        movies_df.loc[index,'movie_id']=response['results'][0]['id']
    except (KeyError, IndexError, JSONDecodeError):
        print("Data not found... skipping.")
    except requests.ConnectionError:
        print("ConnectionError...")

Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.

In [16]:
# loop through the sample dataframe
for index,row in movies_df.iterrows():
# pass the movie id and fetch the response from the API
        movie_id=row['movie_id']
        url = f"https://api.themoviedb.org/3/movie/{movie_id}?api_key={api_key}&language=en-US"
        try:
            response_id = requests.get(url).json()
            movies_df.loc[index,'budget']=response_id['budget']
            movies_df.loc[index,'revenue']=response_id['revenue']
            movies_df.loc[index,'runtime']=response_id['runtime']
            genre_type_list = response_id['genres'] 
            genre_type_str=""
            if genre_type_list != None :
                for genre_type in genre_type_list:
                    genre_type_str += genre_type['name']+","
            else:
                genre_type_str = "NA"
            movies_df.loc[index,"genre"]=genre_type_str 
    #         movie_id_list.append(movie_id)
        except (KeyError, IndexError, JSONDecodeError):
            print("Data not found... skipping.")
        except requests.ConnectionError:
            print("ConnectionError...")

Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.
Data not found... skipping.

In [17]:
movies_df

,title,budget,revenue,runtime,movie_id,genre
0,Duck the Halls: A Mickey Mouse Christmas Special,0,0,22,845322,"TV Movie,Animation,Adventure,"
1,Ernest Saves Christmas,6000000,28202109,95,26386,"Comedy,Family,"
2,Ice Age: A Mammoth Christmas,0,0,26,79218,"Animation,Family,TV Movie,"
3,The Queen Family Singalong,0,0,41,903296,"Music,"
5,Becoming Cousteau,0,244223,94,774823,"Documentary,"
...,...,...,...,...,...,...
1445,X-Men Origins: Wolverine,150000000,373062864,107,2080,"Adventure,Action,Thriller,Science Fiction,"
1446,Night at the Museum: Battle of the Smithsonian,150000000,413106170,105,18360,"Adventure,Fantasy,Action,Comedy,Family,"
1447,Eddie the Eagle,23000000,46152411,106,319888,"Comedy,Drama,History,Adventure,"
1448,Bend It Like Beckham,3500159,76578641,112,455,"Comedy,Drama,Romance,"
1449,Captain Sparky vs. The Flying Saucers,0,0,3,166659,"Animation,Family,"

In [18]:
# save to csv
movies_df.to_csv('disney.csv')

In [20]:
# read csv file
disney_movies = pd.read_csv('disney.csv',index_col=0)

In [21]:
disney_movies

,title,budget,revenue,runtime,movie_id,genre
0,Duck the Halls: A Mickey Mouse Christmas Special,0.0,0.0,22.0,845322.0,"TV Movie,Animation,Adventure,"
1,Ernest Saves Christmas,6000000.0,28202109.0,95.0,26386.0,"Comedy,Family,"
2,Ice Age: A Mammoth Christmas,0.0,0.0,26.0,79218.0,"Animation,Family,TV Movie,"
3,The Queen Family Singalong,0.0,0.0,41.0,903296.0,"Music,"
5,Becoming Cousteau,0.0,244223.0,94.0,774823.0,"Documentary,"
...,...,...,...,...,...,...
1445,X-Men Origins: Wolverine,150000000.0,373062864.0,107.0,2080.0,"Adventure,Action,Thriller,Science Fiction,"
1446,Night at the Museum: Battle of the Smithsonian,150000000.0,413106170.0,105.0,18360.0,"Adventure,Fantasy,Action,Comedy,Family,"
1447,Eddie the Eagle,23000000.0,46152411.0,106.0,319888.0,"Comedy,Drama,History,Adventure,"
1448,Bend It Like Beckham,3500159.0,76578641.0,112.0,455.0,"Comedy,Drama,Romance,"
1449,Captain Sparky vs. The Flying Saucers,0.0,0.0,3.0,166659.0,"Animation,Family,"

In [22]:
Disney_df

,title,director,cast,country,release_year,rating
0,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,2016,TV-G
1,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,1988,PG
2,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,2011,TV-G
3,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,2021,TV-PG
5,Becoming Cousteau,Liz Garbus,"Jacques Yves Cousteau, Vincent Cassel",United States,2021,PG-13
...,...,...,...,...,...,...
1445,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom",2009,PG-13
1446,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada",2009,PG
1447,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States",2016,PG-13
1448,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States",2003,PG-13
1449,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,2012,TV-G

In [23]:
#Merge Disney Dataset with Disney API Call
Disney_final_df = pd.merge(Disney_df, disney_movies, on='title')

In [28]:
#print df
Disney_final_df['streaming']='Disney+'
Disney_final_df

,title,director,cast,country,release_year,rating,budget,revenue,runtime,movie_id,genre,streaming
0,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,2016,TV-G,0.0,0.0,22.0,845322.0,"TV Movie,Animation,Adventure,",Disney+
1,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,1988,PG,6000000.0,28202109.0,95.0,26386.0,"Comedy,Family,",Disney+
2,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,2011,TV-G,0.0,0.0,26.0,79218.0,"Animation,Family,TV Movie,",Disney+
3,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,2021,TV-PG,0.0,0.0,41.0,903296.0,"Music,",Disney+
4,Becoming Cousteau,Liz Garbus,"Jacques Yves Cousteau, Vincent Cassel",United States,2021,PG-13,0.0,244223.0,94.0,774823.0,"Documentary,",Disney+
...,...,...,...,...,...,...,...,...,...,...,...,...
1047,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom",2009,PG-13,150000000.0,373062864.0,107.0,2080.0,"Adventure,Action,Thriller,Science Fiction,",Disney+
1048,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada",2009,PG,150000000.0,413106170.0,105.0,18360.0,"Adventure,Fantasy,Action,Comedy,Family,",Disney+
1049,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States",2016,PG-13,23000000.0,46152411.0,106.0,319888.0,"Comedy,Drama,History,Adventure,",Disney+
1050,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States",2003,PG-13,3500159.0,76578641.0,112.0,455.0,"Comedy,Drama,Romance,",Disney+
1051,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,2012,TV-G,0.0,0.0,3.0,166659.0,"Animation,Family,",Disney+

In [29]:
#save to csv
Disney_final_df.to_csv('disney_api.csv')